.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  background: transparent url('../../../images/close-icon.svg') 50%/cover no-repeat;
  cursor: pointer;
}
  
.popup__close-button:hover {
  opacity: .6;
}
  
@media screen and (max-width: 576px) {
  .popup__close-button {
     width: 25px;
     height: 25px;
     top: -35px;
     right: -20px;
  }
}

@media screen and (max-width: 420px) {
  .popup__close-button {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
  }
}