.card__button-trash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  outline: none;
  background: url('../../../images/button-trash.svg') 0 0 no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: .3s ease;
}
  
.card__button-trash:hover {
  opacity: .6;
}