.popup__form-error {
    visibility: hidden;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    color: #ff0000;
    position: absolute;
    margin-top: 32px;
    margin-bottom: 13px;
}


@media screen and (max-width: 768px) {
    .popup__form-error {
      width: 100%;
      font-size: 9px;
      line-height: 11px;
    }
}